<%- include('header.ejs') %>

<center>
	<div class="jumbotron">
		<h1>Quote Tracker 9000</h1>
	</div>
</center>
<div class="span9 offset1">
	<p>Welcome to Quote Tracker 9000</p>
	<p>Use the above buttons in the toolbar to navigate around.</p>
</div>

<%- include('footer.ejs') %>